{% extends "layout/index.jinja2" %}
{% import 'test/result.jinja2' as result with context %}

{% block title %}
    <h3>
        results
    </h3>
{% endblock %}

{% block content %}
    <form action="{{ url_for('test.result')}}" enctype="multipart/form-data" method="post">
        {{ form.hidden_tag() }}
        <input type="text" name="csrf_session_token", id="csrf_session_token", value="{{ session.get('csrf_token') }}" hidden="hidden">
        <div class="card">
            <div class="card-body">
                <br/>
                <div class="row">
                    <div class="col-md-3 text text-left">
                        {{ form.file.label }}
                    </div>
                    <div class="col-md-9 text-left">
                        {{ form.file }}
                    </div>
                </div>
                <br/>
            </div>
            <div class="card-footer">
                <div class="row text-uppercase text">
                    {{ form.submit }}
                </div>
                <br/>
            </div>
        </div>
    </form>
    <p>
    </p>
    {% if results %}
        {{ result.display() }}
    {% endif %}
{% endblock %}
